.cleditorMain {border:1px solid #999; padding:0 1px 1px; background-color:white}
.cleditorMain,
.cleditorPopup,
.cleditorMain * {-moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box}
.cleditorMain iframe {border:none; margin:0; padding:0}
.cleditorMain textarea {overflow-y:scroll; font:10pt Arial,Verdana; resize:none; outline:none}
.cleditorToolbar {background: url('/assets/toolbar.gif') repeat}
.cleditorGroup {float:left; height:26px}
.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('/assets/buttons.gif')}
.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#CCC}
.cleditorPopup {border:solid 1px #999; background-color:white; color:#333333; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
.cleditorList div {padding:2px 4px 2px 4px}
.cleditorList p,
.cleditorList h1,
.cleditorList h2,
.cleditorList h3,
.cleditorList h4,
.cleditorList h5,
.cleditorList h6,
.cleditorList font {padding:0; margin:0; background-color:Transparent}
.cleditorColor {width:150px; padding:1px 0 0 1px}
.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
.cleditorPrompt {background-color:#F6F7F9; padding:8px; font-size:8.5pt}
.cleditorPrompt label {padding-bottom:8px}
.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
/******************************************************************************
** STRUCTURE OF DYNAMICALLY CREATED ELEMENTS
*******************************************************************************
**
** <div id="ORIGINAL_IDWidgContainer" class="widgContainer">
**     <ul id="ORIGINAL_IDWidgToolbar" class="widgToolbar">
**         <li id="BUTTON_ID" class="widgEditButton">
**             <a></a>
**         </li>
**         <li class="widgEditSelect">
**             <select>
**             </select>
**         </li>
**     </ul>
**     <iframe id="ORIGINAL_IDWidgIframe" class="widgIframe">
**     </iframe>
**     <textarea id="ORIGINAL_IDWidgTextarea" class="widgEditor">
**     </textarea>
** </div>
*/

/* TOOLBAR BUTTONS */


.widgToolbar a
{
	display: block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	background-repeat: no-repeat;
	text-indent: -1000em;
	text-decoration: none;
}

.widgToolbar a:hover
{
	background-position: 0 -30px;
}

.widgToolbar a:active
{
	margin-top: 2px;
	margin-left: 2px;
	background-position: 0 -60px;
}

.widgToolbar li.on a, .widgToolbar li.on a:hover
{
	background-position: 0 -60px;
}

.widgToolbar li.widgEditButton
{
	background-image: url(../images/widgeditor_button_shadow.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.widgButtonBold
{
	background-image: url(../images/widgeditor_button_bold.gif);
}

.widgButtonHTML
{
	background-image: url(../images/widgeditor_button_html.gif);
}

.widgButtonImage 
{
	background-image: url(../images/widgeditor_button_image.gif);
}

.widgButtonItalic 
{
	background-image: url(../images/widgeditor_button_italic.gif);
}

.widgButtonLink
{
	background-image: url(../images/widgeditor_button_link.gif);
}

.widgButtonOrdered
{
	background-image: url(../images/widgeditor_button_ordered.gif);
}

.widgButtonUnordered
{
	background-image: url(../images/widgeditor_button_unordered.gif);
}

.widgSource a
{
	background-image: url(../images/widgeditor_button_empty.gif);
	cursor: default;
}

.widgSource li.on a, .widgSource li.on a:hover
{
	background-position: 0 0;
}

.widgSource .widgButtonHTML
{
	background-image: url(../images/widgeditor_button_html.gif);
}

.widgSource .widgButtonHTML:hover
{
	cursor: pointer;
}




/* TOOLBAR */

.widgToolbar
{
	list-style: none;
	width: 100%;
	height: 48px;
	margin: 0;
	padding: 0 0 0 2px;
	border: 1px solid #CCCCCC;
	background-image: url(../images/widgeditor_toolbar_bg.gif);
	background-repeat: repeat-x;
}

* html .widgToolbar
{
	width: auto;
}

.widgToolbar li
{
	display: inline;
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 9px;
	margin-left: 7px;
	line-height: 30px;
}




/* EDITING AREA */

.widgIframe
{
	clear: left;
	width: 100%;
	height: 200px;
	border-top-width: 1px;
}

.widgContainer textarea.widgEditor
{
	clear: left;
	width: 100%;
	height: 200px;
	border-top-width: 1px;
	padding: 0;
}




/* EDITOR CONTAINER */

.widgContainer
{
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

